#container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}

#output {
  flex-grow: 1;
  font-family: monospace;
  padding: 2em;
  text-align: right;
}

.wide-button {
  grid-column: span 2;
}

ion-button {
  font-size: x-large;
  --box-shadow: 0 0 0 rgb(0, 0, 0);
}
